input {
background-color:#FFF8EB;
border:1px solid #294C60;
color:#294C60;
width:30%;
margin:10px;
}

h1,h2,h3,h4,h5,h6 {
color:#219ebc;
font-weight:600;
}

h1 {
padding-top:3rem;
padding-bottom:1rem;
color:#294C60;
}

body {
text-align:center;
padding-left:0;
background-color:#FFEFD3!important;
}

nav ul {
display:flex;
padding-left:1rem;
padding-right:1rem;
margin:auto;
}

nav {
display:flex;
border-bottom:none;
background-color:#FFC49B;
}

nav ul li {
border-right:solid 2px #FFEFD3;
width:300px;
display:block;
height:6vh;
line-height:6vh;
margin:0;
padding:0 30px;
}

nav ul li a {
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
font-weight:100;
display:block;
text-decoration:none;
text-align:center;
color:#ffb703;
position:relative;
}

nav ul li a::after {
left:0;
bottom:10px;
width:0;
background-color:#fb8500;
height:2px;
content:"";
display:block;
position:absolute;
transition:300ms all;
}

nav ul li a:hover::after {
width:100%;
}

nav ul li a:hover {
color:#fb8500;
}

.copyright {
font-weight:100;
font-size:10px;
color:#001B2E!important;
}

div {
font-weight:200;
color:#8ecae6;
}

.card {
margin-bottom:2rem;
border-radius:25px;
border:none;
background-color:#FFF8EB;
}

table {
float:center;
width:100%;
margin:20px;
}

input[type="checkbox"] {
zoom:1.5;
}

#content {
color:#294C60;
font-weight:400;
text-align:center;
min-height:90%;
margin-bottom:-10%;
padding:2rem;
}

a {
color:#294C60!important;
font-family:Raleway, sans-serif;
}

form {
height:100%;
border:none;
border-radius:50px;
background-color:#FFF8EB;
margin:5vw 20vw;
padding:3rem 0 10vw;
}

html,body,#page {
height:100%!important;
margin:0!important;
}

p {
color:#001B2E!important;
}

.btn-primary {
width:30%;
background-color:#FFC49B;
}

.btn-primary::hover {
background-color:#001B2E!important;
}

#footer {
height:50px;
}

li:last-child {
border-right:none;
}

.information {
font-weight:700;
color:#294C60!important;
}

.bold {
font-weight:700;
color:#001B2E;
}

h3,h2 {
padding-bottom:3rem;
}

text,h1,h2,h3,h4,h5 {
color:#294C60!important;
}

.products-form {
    margin: 0 !important;
    background-color: #FFEFD3;
}

form {
    padding:  6rem 4rem;
}

ul.error_message > li{
    list-style: none;
    font-size: 1rem !important;
    color: #C14953;
    font-style: italic;
    font-weight: 200;
    margin-left: 0;
    margin-right: 3rem;
}

ul.error_message > li:before {
    content: '***';
    font-weight: 500;
}
ul.error_message > li:after {
    content: '***';
    font-weight: 500;
}
